footer {
  background-color: var(--main-color);
  color: var(--secondary-font-color);
  text-align: center;
  padding: 60px 0;
}
footer h5 {
  font-size: 20px;
  margin-bottom: 20px;
}
footer p {
  font-weight: normal;
}
